<h2>Listas de compra:</h2>

<section>
  <list [list]="list" (delete)="deleteList($event)"
    *ngFor="let list of lists"></list>

  <!--2/ Angular añade la directiva ngForm a todos los formularios-->
  <!--Podemos usar una refencia (simbolo #) para acceder a un elemento del template-->
  <form (ngSubmit)="createList(tempList)" #listForm="ngForm">
    <!--2/ Utilizamos attributos HTML5 para las condiciones-->
    <input name="title" [(ngModel)]="tempList.title"
      required minlength="3" maxlength="20">

    <!--3/ Mediante attribute binding y la referencia listForm, -->
    <!-- podemos acceder a la propiedad form para comprobar su validez-->
    <button type="submit"
      [disabled]="!listForm.form.valid">Crear lista</button>
  </form>

  <form (ngSubmit)="createList(tempList)" #otherForm="ngForm">
    <!--2/ También puedes añadir una referencia a ngModel en los inputs-->
    <input name="title" [(ngModel)]="tempList.title"
      #title="ngModel" required>

    <!--3/ Así puedes mostrar mensajes por campo-->
    <span [hidden]="title.valid || (title.pristine && !otherForm.submitted)">
      El titulo es requerido
    </span>

    <button type="submit"
      [disabled]="!otherForm.form.valid">Crear lista</button>
  </form>
</section>